name: CI/CD Pipeline

on: 
    push:
        branches:
            - main
    pull_request: 
        branches: 
            - main
jobs: 
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: Backend

        steps:
            - name: Check out the repository
              uses: actions/checkout@v2

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                    java-version: "21"
                    distribution: "temurin"
            - name: Build with maven 
              run: mvn -B clean package -DskipTests

            - name: Build Docker image
              run: docker build -t my-app-java .

    deploy:
        name: Deploy to production
        needs: [build]
        runs-on: ubuntu-latest

        steps:
            - name: Deploy to render
              uses: johnbeynon/render-deploy-action@v0.0.8
              with: 
                service-id: ${{ secrets.SERVICE_ID }}
                api-key: ${{ secrets.RENDER_API_KEY }}


        

